.card {
  min-width: min-content;
}

.card img {
  max-width: 18rem;
}
.card .card-body {
  max-width: 18rem;
}

@media (min-width: #{$layout-breakpoint}) {
  .card img {
    width: 18rem;
  }
  .card .card-body {
    width: 18rem;
  }
}

@media (min-width: #{$layout-big-breakpoint}) {
  .card img {
    max-width: 22rem;
  }
  .card .card-body {
    max-width: 22rem;
  }
}
